<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title><%= article.title %></title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<h1><%= article.title %></h1>

<p><small>Published on <%= article.date %></small></p>

<hr>

<p>
<%= article.content %>
</p>

<br>

<a href="/">← Back to Home</a>

</body>
</html>